// .streetview {
//     height: 800px;
//     width: 1300px;
//     position: absolute;
//     left: 25px;
//     top: 100px;
//     z-index: -2;
//     flex-direction: column;
// }

.streetview {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80vw;
  height: 80vh;
  z-index: -2;
}

.loader-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .blur {
    filter: blur(2px);
  }
  