// .map {
//   position: absolute;
//   right: 25px;
//   top: 250px;
//   flex-direction: column;
//   z-index: -1;
//   cursor: pointer;
// }

.map {
  position: absolute;
  right: 10%; 
  bottom: 11%;
  cursor: pointer;
  z-index: -1;
}

.agm-map-container * {
  cursor: pointer !important;
}