.title, .totalscore {
    text-align: center;
}

.totalscore {
    position: relative;
    top: -10px;
}

.guess, .next {
    position: relative;
    top: 650px;
    left: 1450px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;    
}

.score {
    position: relative;
    top: 675px;
    left: -150px;
    text-align: right;
}

.tooltip-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
}
  
.tooltip-icon {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    color: white; 
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
}
  
.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
  
  
  